:root {
  --primary: #fd5951;
}

.btn {
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fd5951;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--medium {
  padding: 8px 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fd5951;
  color: #fff;
  transition: all 0.3s ease-outs;
}

.baseButton {
  font-size: 18px;
  border-radius: 10px;
  appearance: none;
  outline: none;
  border: 0px;
}

.plainButton {
  margin-top: 1.5rem;
  padding-block: 0.7rem;
  padding-inline: 1.5rem;
  color: #fff;
  background-color: #fd5951;
  cursor: pointer;
  margin-inline: auto;
  transition: all 0.3s ease-out;
}

.plainButton:hover {
  box-shadow: 0px 6px 11px rgba(253, 89, 81, 0.25);
}

.logoutButton {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logoutButton svg {
  margin-right: 10px;
  margin-left: -8px;
}
