.video-container {
    border-radius: 20px;
    max-height: 500px;
    max-width: 1300px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-inline: 80px;
}

.video-container > video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    transform: scale(1.3);
}

.hero-title {
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.color-overlay {
    background: black;
    opacity: .3;
    background: linear-gradient(90deg, rgba(253, 89, 81, 1) 0%, rgba(253, 89, 81, 0) 100%);
    opacity: 0.99;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.hero-container {
    /*background: url('images/img-home.jpg') center center/cover no-repeat;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title > h1 {
    color: #fff;
    font-size: 80px;
}

.hero-title > p {
    margin-top: 8px;
    color: #fff;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-title > h1 {
        font-size: 70px;
    }

    .video-container {
        max-height: none;
        width: auto;
        height: 450px;
        margin-inline: 25px;
    }

}

@media screen and (max-width: 768px) {
    .video-container {
        height: 100%;
        max-height: 400px;
        margin-inline: 25px;
    }

    .hero-title > h1 {
        font-size: 50px;
    }

    .hero-title > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}