.search-component {
    margin-top: -100px;
    margin-inline: auto;
    width: 1000px;
    height: 190px;
    background: white;
    border-radius: 20px;
    position: relative;
    z-index: 4;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    padding-block: 25px;
    padding-inline: 50px;
}

.search-element {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 30px;
    margin-inline: 10px;
}

.search-element:nth-child(1) {
    flex: 1;
}

.search-element:nth-child(2) {
    flex: 1;
}

.search-element:nth-child(3) {
    flex: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.minus-plus {
    display: flex;
}

.search-h2 {
    font-size: 27px;
    margin-block: 3px;
}

.search-h3 {
    font-size: 13px;
    font-weight: 500;
}

.search-h4 {
    font-size: 15px;
    font-weight: 300;
    margin-right: 10px;
}

.search-input {
    font-size: 27px;
    margin-block: 3px;
    color: black;
    appearance: none;
    outline: none;
    border: 0px;
    font-weight: 600;
    width: 150px;
}